################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

Debug/
Release/
bin/
obj/
.vs/
Build/
*.TMP
StartRemote.bat
cmake-build-debug/
.idea/